@import "tailwindcss";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.1451 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.1451 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.1451 0 0);
  --color-primary: oklch(0.1451 0 0);
  --color-primary-foreground: oklch(0.9843 0 0);
  --color-secondary: oklch(0.9592 0.0022 264.5348);
  --color-secondary-foreground: oklch(0.1451 0 0);
  --color-muted: oklch(0.9592 0.0022 264.5348);
  --color-muted-foreground: oklch(0.4608 0.0268 257.4136);
  --color-accent: oklch(0.9592 0.0022 264.5348);
  --color-accent-foreground: oklch(0.1451 0 0);
  --color-destructive: oklch(0.6016 0.2078 25.3319);
  --color-destructive-foreground: oklch(0.9843 0 0);
  --color-border: oklch(0.898 0.0126 255.5078);
  --color-input: oklch(0.898 0.0126 255.5078);
  --color-ring: oklch(0.1451 0 0);
  
  --font-sans: Arial, Helvetica, sans-serif;
  --radius: 0.5rem;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
    border-color: var(--color-border);
  }
}